a img 
{
    border: none;
}

body
{
	font-family: "Myriad Pro";
	font-size: 10pt;
	color: #666666;	
	padding: 0px;
	margin: 0px;
	background-color: #ffffff;
}

body.overlay 
{
    background-color: #ffffff;
    margin: 10px;	
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {display: inline-block;}  /* for IE/Mac */

.expanderButton
{
    cursor: pointer;
    float: right;
    height: 15px;
}

.fieldDefinition {
	background-color: #9BDEFF;
	border: 1px solid #ffffff;
	padding: 5px;
	width: 200px;
	display: none;
	color: #333333;
	text-align: left;
	font-size: 12px;

	/* outline radius for mozilla/firefox only */
	-moz-box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px #000;
}

form label
{
    display: inline-block;
    min-width: 90px;
    margin-top: 5px;
    margin-bottom: 5px;
}

form label:hover {
	cursor: help;
}

form input, form textarea, form select
{
    border: 1px solid #cccccc;
    background-color: #ffffff;    
}

form input:focus, form textarea:focus, form select:focus
{
    background-color: #fffccc;
}

form input:button
{
    border: 1px solid #ccc;
}

h1
{	
}

h2
{
	color: #006699;
	font-size: 20pt;
	font-weight: normal;
	border-bottom: 1px solid #cccccc;
	padding-bottom: 5px;
	padding-top: 0px;
	margin-top: 5px;
}

h3
{
    height: 30px;
    background-image: url("subheader_bg.jpg");
    background-repeat: repeat-x;
    color: #ffffff;
    font-weight: normal;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    font-size: 13pt;
}
h3 select 
{
    margin-top: -1px;	
}

h4
{
    background-color: #E9E9E9;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    color: #666666;
    font-size: 13pt;
}

header, footer, aside, nav, article 
{  
    display: block;  
}  

header
{
	height: 150px;
	background-image: url("header_bg.gif");
}

#headerSeperator
{
	height: 25px;
	color: #ffffff;
	background-color: #787878;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
}

iframe
{
	width: 100%;
	border: none;
}

input, textarea, select
{
	font-family: "Myriad Pro";
	color: #666666;
	font-size: 11pt;
}

.inputHelper {
	background-color: #fffccc;
	border: 1px solid #ffffff;
	padding: 5px;
	width: 200px;
	color: #333333;
	text-align: left;
	font-size: 12px;
	display: block;

	/* outline radius for mozilla/firefox only */
	-moz-box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px #000;
}

label
{
    font-size: 12pt;
	font-weight: bold;
	margin-right: 5px;
}

.listtable td
{
    vertical-align: top;
}

#logo
{
	margin-top: 25px;
	margin-left: 30px;
	background-image: url("logo.gif");
	height: 106px;
	width: 106px;
	display: inline-block;
	cursor: pointer;
}

#mainContent 
{
    padding: 15px;
}

#navigation
{
    display: none;
	width: 200px;
    background-image: url("nav_bg.jpg");
	background-repeat: repeat-x;
	vertical-align: top;
	position: absolute;
	z-index: 1;
}

#navigation ul
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#navigation ul li
{
	margin: 0px;
	padding-left: 30px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #999999;
	border-right: 1px solid #999999;
	font-size: 11pt;
	text-transform: uppercase;
}

#navigation ul li:hover
{
    background-color: #ffffff;
	cursor: pointer;
}

#navigation ul li.active
{
	background-image: url("nav_active_bg.jpg");
	background-repeat: repeat-y;
	border-right: none;
}

#navigation ul li img
{
	vertical-align: middle;
	margin-right: 10px;	
}

#navigationPopout 
{
    float: left;
    width: 200px;
    background-color: #DFDFDF;
    border-right: 1px solid #333333;
    font-size: 11pt;
	text-transform: uppercase;
	text-align: center;
	height: 25px;
	cursor: pointer;
}

#navigationPopout span
{
    vertical-align: middle;	
}

.optionsbox
{
    background-color: #E9E9E9;
}

.optionsbox form
{
    margin: 10px;
    padding-bottom: 15px;
}

#search
{
	margin-left: 2px; 
	margin-right: 2px;
	width: 196px;
	height: 21px;
	background-image: url("search_bg.gif");
	background-repeat: no-repeat;
	position: relative;
	top: 2px;
	float: right;
}

#searchBox
{
	font-size: 10pt;
	margin-left: 2px; 
	margin-right: 2px;
	margin-top: 2px;
	height: 15px;
	color: #cccccc;
	border: none;
	padding-left: 5px;
	width: 185px;
	background-image: url("search_icon.gif");
	background-repeat: no-repeat;
	background-position: right;
}

.value
{
    font-size: 12pt;
    width: auto;
}

#welcomeConsole
{
	background-color: rgba(104,106,95,0.5);
	border: 1px solid #003366;
	color: #ffffff;
	float: right;
	padding: 15px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
}

#welcomeConsole a
{
	color: #ffffff;
	margin-left: 10px;
	margin-right: 10px;
}

#welcomeConsole #messages
{
	background-image: url("messages_icon.png");
	background-repeat: no-repeat;
	background-position: 0px 2px;
	padding-left: 25px;
	margin-left: 20px;
}

#welcomeConsole #username
{
	color: #C5EBFF;
}